<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


				      <!--bean definition here-->
		<bean id="normalPlan" class="com.example.Subscription.NormalPlan"></bean>
		<bean id="premiumPlan" class="com.example.Subscription.PremiumPlan"></bean>	      
				      
				      
		<bean id="selfNormal" class="com.example.Subscription.Self">
			<constructor-arg ref="normalPlan"/>
		</bean>
		
		<bean id="selfPremium" class="com.example.Subscription.Self">
			<constructor-arg ref="premiumPlan"/>
		</bean>
		
		
		<bean id="spouseNormal" class="com.example.Subscription.Spouse">
			<constructor-arg ref="normalPlan"/>
		</bean>
		
		<bean id="spousePremium" class="com.example.Subscription.Spouse">
			<constructor-arg ref="premiumPlan"/>
		</bean>
</beans>